<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>
    <typeAliases>
        <typeAlias alias="TraceEntity" type="com.jzx.bda.somero.mysql.persistent.entity.Trace" />
        <typeAlias alias="SpanEntity" type="com.jzx.bda.somero.Span" />
        <typeAlias alias="AnnEntity" type="com.jzx.bda.somero.mysql.persistent.entity.Absannotation" />
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/TraceMapper.xml"/>
        <mapper resource="mybatis/SpanMapper.xml"/>
        <mapper resource="mybatis/AnnotationMapper.xml"/>
    </mappers>
</configuration>